<div style="width: 100vw; background: white; justify-content: flex-start; align-items: flex-start; display: inline-flex">
  {{> navbar }}
  <div class="page-content">
    {{> formheader}}
    <div>
      {{> stageBar}}
      {{> formBody}}
      {{> loadingBody}}
      {{> summaryBody}}
    </div>
  </div>
</div>