<div
  style="width: 1440px; height: 960px; background: white; justify-content: flex-start; align-items: flex-start; display: inline-flex">
  {{> navbar }}
  <div class="page-content">
    {{> formheader}}
    <div>
      {{> stageBar}}
      {{> formBody}}
    </div>
  </div>
</div>