<div class="outer-page-container">
  {{> navbar }}
  <div class="page-content">
    {{> formheader}}
    <div>
      {{> stageBar}}
      {{> formBody}}
      {{> loadingBody}}
      {{> summaryBody}}
    </div>
  </div>
</div>