@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*:not(i) {
  font-family: 'Rubik', sans-serif !important;
}

.primary-color {
  color: #1B78C1;
}

button {
  cursor: pointer;
}

div {
  font-weight: bold;
  font-size: 24pt;
}

body {
  padding: 0px !important;
  margin: 0px !important;
  overflow-y: hidden;
}