@import url("./base.css");
@import url("./navbar.css");

.form-header {
  background-color: lime;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.form-header .header-text .new-form {
  font-size: 18px;
  line-height: 28px;
}

.form-header .header-text .new-form-subtitle {
  color: #475467;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}