@import url('./base.css');
@import url('./navbar.css');

body {
  padding: 0px;
  margin: 0px;
}

.outer-page-container {
  width: 100vw;
  height: 100vh;
  background: white;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex
}

.page-content {
  width: 100%;
  padding-bottom: 48px;
  background: white;
  border-top-left-radius: 40px;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: inline-flex
}

.page-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.landing-header {
  align-self: stretch;
  height: 40px;
  padding-top: 32px;
  padding-bottom: 32px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  display: flex;
}

.interaction-area {
  position: absolute;
  z-index: 1;
}

.info-circle-gloss {
  width: 34px;
  height: 34px;
  padding: 12px;
  left: 50px;
  top: 78px;
  position: absolute;
  background: rgba(188, 222, 251, 0.25);
  border-radius: 9999px;
  backdrop-filter: blur(8px);
  justify-content: center;
  align-items: center;
  display: inline-flex
}

.info-circle-holder {
  width: 24px;
  height: 24px;
  padding: 2px;
  justify-content: center;
  align-items: center;
  display: inline-flex
}

.main-buttons-container {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  display: inline-flex
}

.main-buttons-container button {
  font-size: 14pt;
  height: 56px;
}

.contact-us-button {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: white;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  overflow: hidden;
  border: 1px #D0D5DD solid;
  justify-content: center;
  align-items: center;
  gap: 6px;
  display: flex
}

.new-form-button {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #1A78C2;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  overflow: hidden;
  border: 1px #1A78C2 solid;
  justify-content: center;
  align-items: center;
  gap: 6px;
  display: flex
}

.contact-us-button {
  width: 144px;
}

.new-form-button {
  width: 144px;
}

.new-form-button span {
  color: white;
}