<div
  style="height: 498px; width: 1000px; align-self: center; background: white; box-shadow: 0px 12px 8px -4px rgba(16, 24, 40, 0.098); border-radius: 12px; overflow: hidden; border: 1px #EAECF0 solid; flex-direction: column; justify-content: flex-start; align-items: center; display: flex">
  <div
    style="align-self: stretch; height: 498px; padding-top: 25px; flex-direction: column; justify-content: flex-start; align-items: center; display: flex">
    <div
      style="align-self: stretch; height: 348px; padding-top: 20px; padding-left: 24px; padding-right: 24px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 20px; display: flex">
      <div
        style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 40px; display: inline-flex">
        <div
          style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
          {{> formBodyEntry name='Age' placeholder='Age'}}
          {{> formBodyEntry name='Monthly Income' placeholder='Monthly Income'}}
          {{> formBodyEntry name='Loan Amount' placeholder='Loan Amount'}}
          {{> formBodyEntry name='Monthly Debt' placeholder='Monthly Debt'}}
          {{> formBodyEntry name='Current Lines of Credit' placeholder='Amount'}}
          {{> formBodyEntry name='Amount of Open Loans' placeholder='Amount'}}
        </div>
        <div
          style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
          {{> formBodyEntry name='Times 90+ Days Past Due' placeholder='Amount'}}
          {{> formBodyEntry name='Amount of Real Estate Loans' placeholder='Real Estate Loans'}}
          {{> formBodyEntry name='Total Balance on Credit Cards' placeholder='Total Balance'}}
          {{> formBodyEntry name='Sum of Credit Limits' placeholder='Credit Limits'}}
          {{> formBodyEntry name='Number of Dependents' placeholder='Dependents'}}
        </div>
      </div>
    </div>
    <div
      style="align-self: stretch; height: 100px; padding-top: 20px; padding-bottom: 32px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
      <div
        style="align-self: stretch; height: 25px; padding-bottom: 24px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
        <div style="align-self: stretch; height: 1px; background: #EAECF0"></div>
      </div>
      <div style="align-self: stretch; padding-bottom: 24px; padding-left: 24px; padding-right: 24px; justify-content: space-between; align-items: flex-start; display: inline-flex">
        <div style="padding-left: 16px; padding-right: 16px; padding-top: 10px; padding-bottom: 10px; background: white; box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05); border-radius: 8px; overflow: hidden; border: 1px #D0D5DD solid; justify-content: center; align-items: center; gap: 6px; display: flex">
          <div style="padding-left: 2px; padding-right: 2px; justify-content: center; align-items: center; display: flex">
            <div style="color: #344054; font-size: 16px; font-family: Poppins; font-weight: 600; line-height: 24px; word-wrap: break-word">
              Cancel
            </div>
          </div>
        </div>
        <div style="padding-left: 16px; padding-right: 16px; padding-top: 10px; padding-bottom: 10px; background: #1A78C2; box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05); border-radius: 8px; overflow: hidden; border: 1px #1A78C2 solid; justify-content: center; align-items: center; gap: 6px; display: flex">
          <div style="padding-left: 2px; padding-right: 2px; justify-content: center; align-items: center; display: flex">
            <div style="color: white; font-size: 16px; font-family: Poppins; font-weight: 600; line-height: 24px; word-wrap: break-word">
              Calculate
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>