<div class="form-body">
  <div class="form-body-content">
    <div
      style="align-self: stretch; height: 348px; padding-top: 20px; padding-left: 24px; padding-right: 24px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 20px; display: flex">
      <div class="form-body-column-container">
        <div class="form-body-column">
          {{> formBodyEntry classes='age' name='Age' placeholder='Age'}}
          {{> formBodyEntry classes='monthy-income' name='Monthly Income' placeholder='Monthly Income'}}
          {{> formBodyEntry classes='monthly-debt' name='Monthly Debt' placeholder='Monthly Debt'}}
          {{> formBodyEntry classes='number-of-open-loans' name='Number of Open Loans' placeholder='Open Loans'}}
          {{> formBodyEntry classes='current-lines-of-credit' name='Current Lines of Credit' placeholder='Amount'}}
        </div>
        <div style="width: 12px;"></div>
        <div class="form-body-column">
          {{> formBodyEntry classes='times-past-due' name='Times 90+ Days Past Due' placeholder='Amount'}}
          {{> formBodyEntry classes='real-estate-loans' name='Amount of Real Estate Loans' placeholder='Real Estate Loans'}}
          {{> formBodyEntry classes='credit-card-balance' name='Total Balance on Credit Cards' placeholder='Total Balance'}}
          {{> formBodyEntry classes='sum-of-credit-card-limits' name='Sum of Credit Limits' placeholder='Credit Limits'}}
          {{> formBodyEntry classes='dependents' name='Number of Dependents' placeholder='Dependents'}}
        </div>
      </div>
      <div class="loan-row">
        {{> formBodyEntry classes='loan-amount' name='Loan Amount' placeholder='Loan Amount'}}
      </div>
    </div>
    <div
      style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
      <div style="align-self: stretch; height: 1px; background: #EAECF0"></div>
    </div>
    <div class="form-button-bar">
      <button type="button" class="cancel-button">
        Cancel
      </button>
      <button type="button" class="calculate-button">
        Calculate
      </button>
    </div>
  </div>
</div>