<div class="form-body-entry {{{classes}}}">
  <div class="field-title">
    {{name}}
  </div>
  <div class="field-input-box">
    <input class="field-input" placeholder="{{placeholder}}"/>
    <div style="width: 16px; height: 16px; justify-content: center; align-items: center; display: flex">
      <div style="width: 16px; height: 16px; padding: 1.33px; justify-content: center; align-items: center; display: inline-flex">
        <i class="fa-regular fa-circle-question fa-2xs"></i>
      </div>
    </div>
  </div>
</div>