<div class="landing-header">
  <div style="align-self: stretch; height: 40px; padding-left: 32px; padding-right: 32px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
    <div style="align-self: stretch; height: 40px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 20px; display: flex">
      <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
        <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
          <div style="align-self: stretch; color: #101828; font-size: 30px; font-family: Poppins; font-weight: 600; line-height: 38px; word-wrap: break-word">Welcome back</div>
        </div>
        <div style="justify-content: flex-start; align-items: center; gap: 12px; display: flex">
          <button type="button" class="new-form-button">
            <span>New Form</span>
            <i class="fa-solid fa-plus fa-sm" style="color: white"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>