<div style="width: 480px; height: 480px; position: relative">
  <div style="width: 480px; height: 480px; left: 0px; top: 0px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
    <div style="width: 480px; height: 480px; position: relative; background: radial-gradient(100.00% 100.00% at -509436065.57% 0.00%, black 0%, rgba(0, 0, 0, 0) 100%)"></div>
  </div>
  <div style="width: 480px; height: 480px; left: 0px; top: 0px; position: absolute">
    <div style="width: 96px; height: 96px; left: 192px; top: 192px; position: absolute; border-radius: 9999px; border: 1px #EAECF0 solid"></div>
    <div style="width: 160px; height: 160px; left: 160px; top: 160px; position: absolute; border-radius: 9999px; border: 1px #EAECF0 solid"></div>
    <div style="width: 224px; height: 224px; left: 128px; top: 128px; position: absolute; border-radius: 9999px; border: 1px #EAECF0 solid"></div>
    <div style="width: 288px; height: 288px; left: 96px; top: 96px; position: absolute; border-radius: 9999px; border: 1px #EAECF0 solid"></div>
    <div style="width: 288px; height: 288px; left: 96px; top: 96px; position: absolute; border-radius: 9999px; border: 1px #EAECF0 solid"></div>
    <div style="width: 352px; height: 352px; left: 64px; top: 64px; position: absolute; border-radius: 9999px; border: 1px #EAECF0 solid"></div>
    <div style="width: 416px; height: 416px; left: 32px; top: 32px; position: absolute; border-radius: 9999px; border: 1px #EAECF0 solid"></div>
    <div style="width: 480px; height: 480px; left: 0px; top: 0px; position: absolute; border-radius: 9999px; border: 1px #EAECF0 solid"></div>
  </div>
</div>