<div class="navbar">
  <div class="upper-icons">
    <div class="icon-holder spacing-after">
      <i class="fa-regular fa-credit-card fa-sm"></i>
    </div>
    <div class="icon-holder spacing-after">
      <i class="fa-regular fa-envelope-open fa-sm"></i>
    </div>
    <div class="icon-holder">
      <i class="fa-solid fa-check-to-slot fa-sm"></i>
    </div>
  </div>
  <div class="lower-icons">
    <div class="icon-holder spacing-after">
      <i class="fa-solid fa-life-ring fa-sm"></i>
    </div>
    <div class="icon-holder spacing-after">
      <i class="fa-solid fa-gear fa-sm"></i>
    </div>
    <div>
      <div class="pfp-holder">
        <img class="pfp" src="https://kryptonitecharacterstore.com/cdn/shop/products/Mike-Wazowski-Gloss_01_Top-View_a36458b8-330c-4832-a99d-90556e9ec42c_1024x.png?v=1620676006"/>
      </div>
    </div>
  </div>
</div>