<div class="stage-bar">
  {{> stageBarStage title='Fill Out Form' subtitle='Provide your details to calculate results' classes='right filled'}}
  {{> stageBarStage title='AI System At Work' subtitle='Let our system do the heavy lifting for you' classes='left right'}}
  {{> stageBarStage title='Summary' subtitle='Results based upon your information' classes='left'}}
</div>