<div class="stage-bar">
  {{> stageBarStage title='Fill Out Form' right=true}}
  {{> stageBarStage title='AI System At Work' right=true left=true}}
  {{> stageBarStage title='Summary' left=true}}
</div>