<div class="stage-bar">
  {{> stageBarStage title='Fill Out Form' subtitle='Provide your details to calculate results' right=true}}
  {{> stageBarStage title='AI System At Work' subtitle='Let our system do the heavy lifting for you' right=true left=true}}
  {{> stageBarStage title='Summary' subtitle='Results based upon your information' left=true}}
</div>